{% include 'sitio/cabecera.html' %}
<div class="form">
    <h1 class="form__h1">Gastos</h1>
    <!-- 			 <?php 
			include('php/asignacion_tabla.php');
			$verificar_codigo= mysqli_query($conexion, "SELECT * FROM finalizacion_voto WHERE codigo='12345'");

			if(mysqli_num_rows($verificar_codigo) > 0){

				header("Location: pagina_eleccion_finalizada.php");
			}
			?>	 -->
</div><br/>   
<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="card">
                <div class="card-header">
                    Registro Gastos
                </div>
                <div class="card-body">
                    <form action="gastos/guardar" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                          <label for="txtProveedor" class="form-label">Proveedor</label>
                          <input type="text"
                            class="form-control" name="txtProveedor" id="txtProveedor" aria-describedby="helpId" placeholder="Ingrese al proveedor">
                        </div>
                        <div class="mb-3">
                          <label for="txtMonto" class="form-label">Monto:</label>
                          <input type="number"
                            class="form-control" name="txtMonto" id="txtMonto" aria-describedby="helpId" placeholder="Ingrese monto a pagar">
                        </div>
                        <div class="mb-3">
                          <label for="txtFecha" class="form-label">Fecha:</label>
                          <input type="date"
                            class="form-control" name="txtFecha" id="txtFecha" aria-describedby="helpId" placeholder="Ingrese la fecha a pagar">
                        </div>
                        <div class="mb-3">
                            <label for="txtConcepto" class="form-label">Concepto:</label>
                            <input type="text"
                              class="form-control" name="txtConcepto" id="txtConcepto" aria-describedby="helpId" placeholder="Ingrese el concepto">
                          </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>

        <div class="col-7">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Monto</th>
                            <th>Fecha</th>
                            <th>Concepto</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gasto in gastos %}
                        <tr>
                            <td>{{ gasto[0] }}</td>
                            <td>{{ gasto[1] }}</td>
                            <td>{{ gasto[2] }}</td>
                            <td>{{ gasto[3] }}</td>
                            <td>{{ gasto[4] }}</td>
                            <td>
                                <form action="/gastos/borrar" method="post">
                                    <input value="{{ gasto[0] }}" type="hidden" name="txtID" id="txtID">
                                    <button type="submit" class="btn btn-danger">Borrar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</div>
{% include 'sitio/pie.html' %}