{% include 'sitio/cabecera.html' %}
  <main>
    <div class="p-5 bg-light">
      <div>
        <h1 class="display-3">BaseBank</h1>
        <h2 class="form__h2">¡Bienvenido Usuario!</h2>
        <h3 class="form__h3">Porfavor ingrese su usuario:</h3>

        <div class="container">
            <div class="row">
                <div class="col-4">
                
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-header">
                            Inicio de Sesión
                        </div>
                        <div class="card-body">

                            <form action="/login" method="post">
                                <div class="mb-3">
                                    <label for="txtUsuario" class="form-label">Usuario</label>
                                    <input type="text" class="form-control" placeholder="Usuario" name="txtUsuario" id="txtUsuario" aria-describedby="helpId" required="required">
                                </div>
                                <div class="mb-3">
                                    <label for="txtPassword" class="form-label">Contraseña</label>
                                    <input class="form-control" placeholder="Contraseña" name="txtPassword" id="txtPassword" aria-describedby="helpId" type="password" required="required">
                                </div>
                                <button type="submit" class="btn btn-success">Login</button>
                            </form>

                        </div>
                        <div class="card-footer text-muted">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                
                </div>
            </div>
        </div>
        <h4 class="centrado">Si no se ha registrado haga clic <a href="/registro">aquí</a></h4>
      </div>
    </div>
  </main>
  {% include 'sitio/pie.html' %}